
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf)
      format("truetype");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: #404142;
  letter-spacing: 0.8px;
  text-align: center;
  background-color: white;
}

.main {
  text-align: center;
  height: auto;
  min-height: 65vh;
  width: 100%;
  background-color: #ccb3ff;
}

.links {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
}

.fixed-content {
  margin: auto;
  padding: 0px 0px 10px 0px;
  margin-top: 15px;
  height: auto;
  width: 300px;
  text-align: center;
  box-shadow: 6px 6px 10px #ccb3ff;
  align-items: center;
  border-top: 4px solid #6c5ce7;
  border-radius: 8px;
}

.content {
  padding: 5px;
  margin: 15px;
  height: auto;
  width: auto;
  min-width: 280px;
  min-height: 600px;
  text-align: center;
  box-shadow: 6px 6px 10px #ccb3ff;
  align-items: center;
  border-top: 4px solid #6c5ce7;
  border-radius: 8px;
}

.image {
  padding: 0px 5px;
  margin: 5px;
  max-width: 280px;
  height: 320px;
  border-radius: 4%;
}

h3 {
  text-align: center;
  background-color: rgba(190, 108, 228, 0.1);
  padding: 16px;
  margin: 0;
  text-transform: uppercase;
}

h2,
h4 {
  padding: 10px;
  margin: 0px;
  text-transform: capitalize;
}

h5 {
  text-align: center;
  padding: 10px 16px;
  margin-top: 16px;
  text-transform: capitalize;
}

.img {
  height: 150px;
  width: 80%;
  border-radius: 5%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: blueviolet;
}

a:visited {
  color: #202020;
}

.link {
  border: 2px solid black;
  padding: 5px;
  margin: 16px;
}

.link:hover {
  background-color: green;
  text-decoration: none;
  color: white;
}

p {
  padding: 10px;
  margin: 0px;
  line-height: 30px;
  letter-spacing: 0.07em;
}

footer {
  height: 40px;
  text-align: center;
  padding: 10px;
  top: 0;
  font-size: 14px;
}

form {
  padding: 20px auto;
  margin: auto;
  max-width: 300px;
}
input,
textarea {
  display: block;
  margin: 16px 0;
  padding: 6px 10px;
  width: 100%;
  border: 1px solid #ddd;
  font-family: "Roboto";
}

input:focus {
  outline: none;
}

textarea {
  min-height: 200px;
}

#del {
  padding: 5px;
  margin: 16px;
}

/*
  Author : Sonu kumar kushwaha
  Gmail  : flyingsonu736@gmail.com
  GitHub : https://github.com/flyingsonu122


*/
